@font-face{
    font-family:'FontAwesome';
    src:url("./fonts/fontawesome-webfont.eot?v=4.7.0");
    src:url("./fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),url("./fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),url("./fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),url("./fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),url("./fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
    font-weight:normal;
    font-style:normal
}

:root {
    --da-blue: #2b3c68;
    --pale-blue: #f0f8ff;

    --nav-bar-background: #2b3c68;
    --hyperlink-colour: #64acfc;
    --hyperlink-colour-visited: #4f93de;
    --header-height: 80px;
    --side-tree-width: 270px;
    --h1-colour: var(--da-blue);
    --h2-colour: var(--da-blue);
    --side-nav-colour: #616a86;
}

html,
body {
    height: 100%;
    line-height: 1.5;
    margin: 0px;
    font-family:"Karla","Helvetica Neue",Arial,sans-serif;
    font-weight:normal;
    color:#616a86;
}

/* Header */
.container {
    overflow: hidden;
    height: calc(100% - var(--header-height));
}
.navbar-fixed-top {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    /*     z-index: 1; */
    background: var(--nav-bar-background);
    height: var(--header-height);
    line-height: var(--header-height);
    vertical-align: middle;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.navbar-fixed-top.cbp-af-header-shrink {
    padding: 10px 0;
}
.version {
    display: flex;
    margin-right: 20px;
    color: var(--pale-blue);
    font-weight: bold;
    font-size: x-large;
}

/* Home Logo */
.da-home-link{
    height: 100%;
    margin-left: 40px;
}
.logo {
    height: 40px;
}
.da-home-link img
{
    vertical-align: middle;
}

/* General links styles */
a {
    color: var(--hyperlink-colour);
}
a:visited {
    color: var(--hyperlink-colour-visited);
}
h1 {
    color: var(--h1-colour);
}
h2 {
    color: var(--h1-colour);
}


/*  Container flex boxes */
.wrap {
    margin-top: 0px;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
}
main {
    -o-box-flex: 1;
    box-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    height: calc(100% - var(--header-height));
}

aside, article {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    padding: 2em;
}
aside {
    display: flex;
    flex-flow: column wrap;
    background: aliceblue;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: var(--side-nav-colour);
}

aside nav {
    display: flex;
    flex-flow: column wrap;
    flex: 1;
}

aside ul {
    flex: 1;/* occupe toute la place restante */
    flex-flow: column wrap;
}

aside li {
    display: flex;
}

aside a {
    color: var(--side-nav-colour);
    /*on centre horiz et vertic grace flexbox*/
}

article {
    -o-box-flex: 2;
    box-flex: 2;
    flex: 2;
}
a {
    text-decoration: none;
}
blockquote {
    box-sizing: border-box;
    margin-left: 0;
    border-left: 2px solid #ebf2f8;
    padding-left: 1.5em;
}

/*  Responsive trigger */
@media (max-width: 800px) {
    main {
        flex-direction: column;
    }
    .version {
        display: none;
    }

    aside {
        max-height: 200px;
        overflow: auto;
        width: 100%;
    }
}

/* Side tree nav */
.side-tree {
    color: var(--side-nav-colour);
    line-height: 18pt;
    min-width: var(--side-tree-width);
}
.side-tree ul {
    color: var(--side-nav-colour);
}
.side-tree ul ul{
    display: none;
}

/* Tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.document .header th{
    border-bottom-width:2px;
    border-bottom-style:solid;
    border-color: #d0e0ef;
}
.document .odd td{
    background-color: var(--pale-blue);
}
.document td, .document th{
    border-width:1px;
    border-style: solid;
    border-color: #d0e0ef;
}

/* */
.document h1{
    margin-top:30px;
    margin-bottom:30px;
    border-bottom-style:solid;
    border-color: var(--da-blue);
}
